.channels-list {
  padding: 15px;
}
.player-container {
  padding: 15px;
}

.historySettings{

}

.ItemMenu{

}


/* Élément | http://localhost:3000/ */

.ant-layout-sider {

  padding-top: 20vh;
  text-align: center;
}
.historySettings{
  text-align: center;
  translate: 0px 20vh;
}
.ItemMenu{

  padding-top: 20vh;
  text-align: center;

}



/* Élément | http://localhost:3000/ */

